.container .reserve-content{
	width:1072px;
	height:500px;
	background:#fff;
	padding:20px;
}
.container table{
	width:700px;
	margin:0 auto;
	font-size:1.6rem;
	border-collapse: collapse;
	color:#666;
}
.container table th,
.container table td{
	padding:10px 0;
	border:1px solid #eee;
}
.container table td{
	text-align: center;
}

/* page-select */
.reserve-content .page-select{
	width:600px;
	margin:30px auto;
	text-align: center;
}
.reserve-content .page-select .page{
	display: inline-block;
	width:40px;
	height:40px;
	line-height: 40px;
	text-align: center;
	border:1px solid #ccc;
	margin-right:5px;
	font-size:1.6rem;
}
.reserve-content .page-select .selected,
.reserve-content .page-select .page:hover{
	background:#77a6fa;
}
.reserve-content .page-select .page:hover{
	cursor:pointer;
}